version: '3'

networks:
  nettools_net:
    ipam:
      config:
        - subnet: 172.109.0.0/24

services:
  worker_foreground:
    image: worker_foreground
    build:
      context: .
      dockerfile: ./worker_foreground/worker_foreground.dockerfile
    restart: always
    env_file:
    - ./variables.env
    volumes: 
    - ./logs/worker_foreground.txt:/usr/src/app/logs.txt
    ports:
    - "9898:5050"
    networks:
      nettools_net:
        ipv4_address: 172.109.0.10
  worker_background:
    image: worker_background
    build:
      context: .
      dockerfile: ./worker_background/worker_background.dockerfile
    restart: always
    env_file:
    - ./variables.env
    volumes: 
    - ./logs/worker_background.txt:/usr/src/app/logs.txt
    networks:
      nettools_net:
        ipv4_address: 172.109.0.11
    links:
      - mongo_data
    environment:
      mongo_bdd: nettools
      mongo_bdd_server: mongo_data
  url_worker_background:
    image: url_worker_background
    build:
      context: .
      dockerfile: ./url_worker_background/url_worker_background.dockerfile
    restart: always
    volumes: 
    - ./logs/url_worker_background.txt:/usr/src/app/logs.txt
    env_file:
    - ./variables.env
    networks:
      nettools_net:
        ipv4_address: 172.109.0.12
    links:
      - mongo_data
    environment:
      mongo_bdd: nettools
      mongo_bdd_server: mongo_data
  worker_entities:
    image: worker_entities
    build:
      context: .
      dockerfile: ./worker_entities/worker_entities.dockerfile
    restart: always
    volumes: 
    - ./logs/worker_entities.txt:/usr/src/app/logs.txt
    env_file:
    - ./variables.env
    ports:
    - "9896:5050"
    networks:
      nettools_net:
        ipv4_address: 172.109.0.13
    links:
      - mongo_data
    environment:
      mongo_bdd: nettools
      mongo_bdd_server: mongo_data
  mongo_data:
    image: mongo:latest
    restart: always
    volumes: 
    - ./db/mongo_data:/data/db
    env_file:
    - ./variables.env
    networks:
      nettools_net:
        ipv4_address: 172.109.0.14
  mongo_data_express:
    image: mongo-express:latest
    restart: always
    ports:
    - "9897:8081"
    env_file:
    - ./variables.env
    environment:
      ME_CONFIG_MONGODB_SERVER: mongo_data
    networks:
      nettools_net:
        ipv4_address: 172.109.0.15
    links:
    - mongo_data