<div ngbAccordion class="mb-2">
	<div ngbAccordionItem [collapsed]="false">
		<h2 ngbAccordionHeader>
			<button ngbAccordionButton>{{nombre_grupo}}</button>
		</h2>
		<div ngbAccordionCollapse>
			<div ngbAccordionBody>
				<ng-template>
          <div class="row">
            <app-host class="col-2"></app-host>
            <app-host class="col-2"></app-host>
            <app-host class="col-2"></app-host>
            <app-host class="col-2"></app-host>
            <app-host class="col-2"></app-host>
            <app-host class="col-2"></app-host>
            <app-host class="col-2"></app-host>
            <app-host class="col-2"></app-host>
            <app-host class="col-2"></app-host>
            <app-host class="col-2"></app-host>
          </div>
				</ng-template>
			</div>
		</div>
	</div>
</div>
