.custom-btn-outline-success:hover {
  color: #fff !important;
  background-color: #28a745 !important;
  border-color: #28a745 !important;
}
.custom-btn-outline-danger:hover {
  color: #fff !important;
  background-color: #dc3545  !important;
  border-color: #dc3545  !important;
}
.custom-btn-outline-warning:hover {
  color: #fff !important;
  background-color: #ffc107  !important;
  border-color: #ffc107  !important;
}

