<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <label class="navbar-brand">
      <img src="assets/logo_kfc.png" style="height: 40px;"/>
      <span style="margin-left: 20px;" class="text-light">Monitoreo de Red</span>
    </label>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="d-flex">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-outline-light custom-btn-outline-success" title="Agregar Grupo" (click)="openDialog(content_group, 'create')">
            <i class="fas fa-plus"></i>&nbsp;&nbsp;<i class="fas fa-cloud"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>

<ng-template #content_group let-modal>
  <div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Crear Grupo</h4>
		<button type="button" class="btn-close" (click)="modal.dismiss('Cross click')"></button>
	</div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12">
        <div class="mb-3">
          <label for="group_name" class="form-label">Nombre del Grupo</label>
          <input class="form-control" id="group_name" placeholder="Nombre del Grupo" [(ngModel)]="new_group.nombre">
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="modal.close('Guardar Grupo')">Guardar</button>
    <button type="button" class="btn btn-outline-danger" (click)="modal.dismiss('Cancelar click')">Cancelar</button>
  </div>
</ng-template>
